<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="tnLabsBaseUri" value="http://tnlabs.azurewebsites.net/"/>
    <add key="tnLabsSecretKey" value="test"/>
  </appSettings>
</configuration>