<div data-ng-controller="shell as vm">
    <header class="clearfix">
        <div data-ng-include="'/app/layout/topnav.html'"></div>
    </header>

    <div class="container" data-resizable>
        <div class="row">
            
            <div data-ng-show="vm.isBusy" class="page-splash dissolve-animation">
                <div data-cc-spinner="vm.spinnerOptions"></div>
                <div class="page-splash-message page-splash-message-subtle">{{vm.busyMessage}}</div>
            </div>

            <div class="col-sm-2  main-menu-span">
                <div data-ng-include="'/app/layout/sidebar.html'"></div>
            </div>

            <div id="content" data-ng-view data-ng-class="{'large':'col-sm-10 slide-animation','small':'col-sm-11 slide-animation'}[vm.size]" 
                data-ng-style="vm.height()" ></div>
        </div>
        <div class="clearfix"></div>
        <footer>
            <p>
                <span style="text-align:left;float:left">&copy; {{vm.year}} Created by gbLabs.</span>
                <span class="hidden-xs" style="text-align:right;float:right">Version: <a href="https://trello.com/b/y7iXoYxp/tnlabs-features" target="_blank" alt="Version">{{vm.version}}</a></span>
            </p>
        </footer>
    </div>
    
</div>
