<!--<div class="page-title pull-left">{{title}}</div>
<small class="page-title-subtle" data-ng-show="subtitle">({{subtitle}})</small>
<div class="widget-icons pull-right" data-ng-if="allowCollapse">
	<a data-cc-widget-minimize></a>
</div>
<small class="pull-right page-title-subtle" data-ng-show="rightText">{{rightText}}</small>
<div class="clearfix"></div>-->

<h2><i class="fa fa-tasks"></i><span class="break"></span>{{title}}</h2>
<!--<div class="box-icon">
	<a href="index.html#" class="btn-setting"><i class="fa fa-wrench"></i></a>
	<a href="index.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
	<a href="index.html#" class="btn-close"><i class="fa fa-times"></i></a>
</div>-->