<div class="container" data-ng-controller="users as vm">
    <div class="row">
        <div class="alert alert-info hidden" id="on-invites-sent"></div> <br />
        <div class="clearfix"></div>
        <label class="col-sm-2 control-label">Email(s)</label>
        <div class="col-sm-6">
            <textarea class="form-control ng-scope ng-pristine ng-valid" id="emailsForInvites"/>
            <br />
            <input type="submit" data-ng-click="vm.sendInvites()" class="btn btn-success" value="Send Invite(s)" />
            <span class="z-decorator"></span>
        </div>
    </div><br /><br /><br />
    <div class="col-sm-10">
        <label class="control-label">User(s)</label>
        <table id="users-table" class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="u in vm.filteredUsers">
                    <td>
                        {{$index + 1}}
                    </td>
                    <td>
                        {{u.fullName}}
                    </td>
                    <td>
                        <a href="" data-ng-click="vm.gotoUser(u)">Manage Roles</a>&nbsp;|&nbsp;
                        <a href="" data-ng-click="vm.removeUser(u)">Remove User</a>
                    </td>
                </tr>
            </tbody>
        </table>
</div>
</div>
