<div class="container" data-ng-controller="users as vm">
    <div class="row">
        <div class="col-sm-5 col-md-5 ">
            <a href="#/participant/new" class="btn btn-success pull-left margin-right">
                <i class="fa fa-user"></i>&nbsp;Create new user
            </a>
        </div>
    </div>
    <div class="row">
        <div class="box col-md-3 col-sm-4" data-ng-repeat="u in vm.filteredUsers">
                <div class="box-header">
                    <h2>
                        <i class="fa fa-user"></i>
                        <span class="break"></span>
                        &nbsp;{{u.userName}}
                    </h2>
                </div>
                <div class="box-content tnList widget-content">
                    <div class="padd"> 
                        <dl>
                            <dt class="control-label usrtitle">Name:</dt>
                            <dd>
                                <p>{{u.fullName}}</p>
                            </dd>
                            <dt class="control-label usrtitle">Email:</dt>
                            <dd>
                                <p>{{ u.email }}</p>
                            </dd>
                        </dl>
                        <div class="pull-right">
                            <!-- button to show form -->
                            <button type="button" class="btn btn-success" data-ng-click="vm.gotoUser(u)">
                                Edit
                            </button>
                            <button class="btn btn-warning" data-ng-click="vm.removeUser(u)">Remove</button>
                            <!-- buttons to submit / cancel form -->
                        </div>
                        <div class="clearfix" />
                    </div>
                </div>
        </div>
    </div>
</div>
