<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="ServiceBus" value="#{tnLabs.serviceBus.connectionString}" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ServiceBusQueue" value="#{tnLabs.serviceBus.queue}" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
		<add key="apiCallback" value="#{tnLabs.api.url}"
				 xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
  <connectionStrings>
    <add name="tnLabsDBEntities" connectionString="metadata=res://*/Repository.DBModel.csdl|res://*/Repository.DBModel.ssdl|res://*/Repository.DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;#{tnLabs.db.connectionString};application name=EntityFramework&quot;" providerName="System.Data.EntityClient"
				 xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>