<p>Hello, there are Health problems with the system.</p>

<p>
	The following resources haven't checked in for a while:
</p>

<p>
	@*@foreach (GB.tnLabs.Core.Repository.HealthCheck healthCheck in Model)
	{*@
		 @Model[0].ResourceId - @Model[0].Description - @Model[0].LastCheck <br />
	@*}*@
</p>

