<p>Hello @Model.User</p>

<p>Your lab "@Model.LabName" has been created and is ready to be used.</p>

<p>Also the template image "@Model.LabName" is available as base image for creating new labs.</p>

<p>Regards,</p>

<p>gbLabs Team</p>