<p>Hello @Model.User</p>

<p>Your template virtual machine is starting right now. Please allow it 5 minutes to properly start before connecting.</p>

<p>This email provides connection details for the template virtual machine that you can configure for lab  @Model.LabName. You can find attached the rdp file necessary for connecting to the machine.</p>

<p>Please use the following credentials once connected to the machine:</p>

<span><b>Username</b>: @Model.UserName</span>
<br />
<span><b>Password</b>: @Model.Password</span>

<p>Regards,</p>

<p>gbLabs Team</p>