<p>Hello @Model.User</p>

<p>This email contains details on how to setup the certificate from tnLabs on your Azure Subscription. That will allow using the tnLabs application with the Azure Subscription you registered.</p>

<p>Find the attached .cer file and download it to your computer. </p>

<p>Log in into your Azure account and go to the Management area. There, on the left side, scroll all the way to the Settings menu.</p>

<p>Under Settings, click the Management Certificates and then on the bottom of the page, click Upload. Select the file you saved to your computer.</p>

<p>Once you're done, you should Sign Out and then Login back to tnLabs and go to Management area. Here you can start setting up Labs and Sessions.</p>


<p>Regards,</p>

<p>gbLabs Team</p>