<p>Hello @Model.TrainerFirstName,</p>
<p>
    <span>An error occured when starting the the VM(s) for the "@Model.SessionName" training session.</span><br />
    <span>Service name: @Model.ServiceName</span><br />
</p>
<p>
    <span>Error:</span><br />
    &nbsp;&nbsp;&nbsp;<span>@Model.ErrorMessage</span>
</p>
<p>
    <span>Regards,</span><br />
    <span>gbLabs Team</span>
</p>